html,
body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  background:rgb(17, 17, 17);
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;

    
}

.navbar {
  padding-top:20px;
  display:flex;
  justify-content:center;
  height:7vh;
  width:100vw;
  gap:1em;
}

.navbar p {
  font-size:x-large;
  display:flex;
  align-items:center;
  height:100%;
  width:10%;
  justify-content:center;
  color:white;
  border-radius:20px;
}

.navbar p:hover {
  background:rgb(32, 32, 32);
}

#card-container {
  display: grid;
  margin: 1.5em;
  gap: 20px;
  width: calc(100% - 3em);
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: auto;
  position: relative;
  z-index: 1;
}

.card {
  width: 100%; 
  border: rgb(129, 129, 129) solid 3px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transform: scale(1);
  max-height: 225px; 
  overflow: hidden;
  transition: box-shadow .2s ease, transform .2s ease, max-height .4s ease;
}

.card:hover {
  box-shadow: 
    0 0 15px rgb(255, 251, 141),
    0 0 40px rgba(255, 252, 172, 0.5); 
  transform: scale(1.01);
  max-height: 600px; 
}


.card-content {
  padding: 20px;
  font-family: "Verdana";
  color: #ffffff;
  width: 100%;
}

.card img {
  width: 60%;       
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;   
}

.load {
  height:75px;
  width:100%;
  display:flex;
  background:transparent;
  justify-content:center;
  align-items:center;
  color:white;
  font-size:xx-large;
  border:none;
  border-radius:25px;
}

.load p {
  border-radius:15px;
}

.load p:hover {
  display:flex;
  align-items:center;
  justify-content:center;
  background:rgb(32, 32, 32);
  height:60%;
  width:20%;
}


.filter {
  height: 5vh;
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
  z-index: 2; 

}

.search-box {
  background:rgb(218, 218, 218);
  border:none;
  height:60%;
  width:25%;
  border-radius:5px;
  padding:0 .5em 0 .5em;
}

.filter button {
  border:none;
  background:rgb(75, 75, 75);
  color:white;
  height:60%;
  width:5%;
  border-radius:5px;
  margin-right:2%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:5px;
  margin-left:10px;
}

.filter button:hover {
  background: rgb(105, 105, 105);
}

.filter-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;   
  background: rgb(225, 225, 225);
  display: none;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto;
  padding: 25px;
  justify-items: center; 
}


.type {
  display:flex;
  justify-content:center;
  align-items:center;
  height:20%;
  width:100%;
  gap:5px;

}

.type1, .type2 {
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
  width:200px;
  border-radius:5px;
}

.filter-options ul {
  display:flex;
  flex-direction:column;
  list-style:none;
  gap:5px;
}

.filter-options li {
  display:flex;
  gap:6px;
  align-items:center;
}

.wrapper {
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  gap:20px;
}

.elements, .generation, .misc{
  display:flex;
  flex-direction:column;
  gap:10px;
  font-size:large;
}


.stats {
  width: 100%;
  margin-top: 10px; /* space between type badges and stats */
  background: white;
  padding: 10px;
  border-radius: 5px;
}